<div id="<%= dom_id post %>">
  <h3>
    <strong>Title:</strong>
    <%= post.title %>
  </h3>

  <h4>
    <strong>User:</strong>
    <%= post.user.email %>
  </h4>

  <h6>
    <%= pluralize(post.views, 'view')%>
  </h6>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
